<!--Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">ویرایش مقاله</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>خانه</a></li>
                <li>ویرایش مقاله</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>ویرایش مقاله</h4>
                    </div>
                    <div class="widget-inner">
                        <form action="/admin/article" method="POST" id="addArticleForm"
                              class="edit-profile m-b30"
                              enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="title" class="col-form-label">نام مقاله</label>
                                    <div>
                                        <input id="title" name="title" class="form-control" type="text"
                                               value="<%= data.article.title %>">
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="author" class="col-form-label">نام نویسنده</label>
                                    <div>
                                        <input id="author" name="author" class="form-control" type="text"
                                               value="<%= data.article.author %>">
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="category" class="col-form-label">دسته بندی</label>
                                    <div>
                                        <select id="category" name="categoryId" class="form-control">
                                            <option value="" disabled selected>انتخاب کنید</option>
                                            <% data.categories.forEach(category => { %>
                                                <option
                                                        <%= (data.article.categoryId == category.id) ? 'selected' : '' %>
                                                        value="<%= category.id %>"><%= category.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="seperator"></div>
                                <div class="form-group col-12">
                                    <label for="summary" class="col-form-label">چکیده مقاله</label>
                                    <div>
                                        <textarea id="summary" name="summary"
                                                  class="form-control"><%= data.article.summary %> </textarea>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <textarea id="summernote" name="content"><%= data.article.content %></textarea>
                                </div>
                                <div class="form-group col-12 d-flex flex-row justify-content-center align-items-center">
                                    <img src="http://localhost:3000/<%= data.article.coverId.path %>"
                                         class="col-3 img-fluid img-thumbnail p-0"
                                         style="width: 300px;height: 200px;"
                                         alt="<%= data.article.title %>"
                                         title="کاور فعلی مقاله"
                                    >
                                    <input id="files" name="cover" type="file" class="col-9"
                                           accept="image/*"
                                           multiple>
                                </div>
                                <div class="form-group col-12">
                                    <input id="saveArticle" type="submit" class="btn btn-lg" value="ذخیره"/>
                                </div>
                            </div>
                        </form>
                        <form id="addCategoryForm">
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <table id="item-add" style="width:100%;">
                                        <tr class="list-item">
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="col-form-label">افزودن دسته بندی جدید</label>
                                                        <div>
                                                            <input id="categoryName" name="name" class="form-control"
                                                                   type="text" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 d-flex flex-column justify-content-end">
                                                        <button type="submit" class="btn">ذخیره دسته بندی</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>